{
    "extends": "standard",
    "parser": "babel-eslint",
    "rules": {
        "indent": ["error", 4],
        "comma-dangle": ["error", "never"]
    },
    "plugins": [
        "html"
    ],
    env: {
        browser: true, // browser global variables.
        node: true, // Node.js global variables and Node.js scoping.
        worker: true, // web workers global variables.
        mocha: true, // adds all of the Mocha testing global variables.
        phantomjs: true, // PhantomJS global variables.
        serviceworker: true // Service Worker global variables.
    }
}
