head
    meta(charset="utf-8")
    meta(name="renderer", content="webkit")
    title= title
    meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    meta(name="keywords", content="{{ keywords }}")
    meta(name="description", content="{{ description }}")
    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="Content-Security-Policy" content="default-src data: gap://* file://* https://ssl.gstatic.com *; img-src 'self' * data:; style-src 'self' 'unsafe-inline' *; script-src 'self' 'unsafe-eval' 'unsafe-inline' *; connect-src 'self' * ws://* wss://*;")
    if NODE_ENV !== 'development'
        link(
            rel="stylesheet"
            href="/css/" + bundle + ".css"
        )
