doctype html
html(
    lang="zh-CN"
)
    include components/head.pug
    body
        div#app
        // script(src='http://sync.bood.in/client/trace.js')
        script(src='/client/trace.js')
        script(src='/client/' + bundle + '.js')
